@import-normalize;
@import 'recipe-list.css';
@import 'buttons.css';
@import 'recipe.css';
@import 'ingredient-list.css';
@import 'recipe-edit.css';

*{
    font-family: cursive;
    box-sizing: border-box;
}

.mr-1{
    margin-right: 5px;
}

html{
    font-size: 25px;
}

body{
    margin: 0;
    padding: 0;
}
